<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Fast And Furious</title>

        <style>
            body {
                background-image: url('../static/img/background.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                display:flex;
                justify-content: center;
                align-items:center;
            }

        </style>

    </head>

<body class="text-center vh-100">
    <div class="container">
        <h1 class="text-center bg-secondary p-3 mb-5 rounded">FAST AND FURIOUS</h1>
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="col-8 0ffset-2 text-center">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h1 class="mb-5">Do you want to race?</h1>
                        <a href="/start_race" class="btn bg-primary">Start Race</a>
                        <a href="/no_race" class="btn bg-primary ml-4">No Race</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>